@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  position: relative;
  font-family: "Roboto", sans-serif; }
  body nav {
    color: #F0F8EA;
    background-color: #E4572E; }
    body nav .listaNav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body nav .listaNav h1 {
        padding: 10px 15px; }
        body nav .listaNav h1 span {
          margin-right: 10px; }
        @media (max-width: 700px) {
          body nav .listaNav h1 {
            padding: 15px 0 0 0; } }
      body nav .listaNav span {
        margin-top: 10px;
        margin-right: 10px;
        padding: 5px;
        font-size: 40px;
        cursor: pointer; }
        @media (max-width: 700px) {
          body nav .listaNav span {
            margin-right: 0px; } }
  body .backOp {
    padding: 0;
    position: relative; }
    body .backOp .menuDeOp {
      display: none;
      cursor: pointer;
      margin: 0;
      padding: 10px 20px;
      z-index: 9;
      font-size: 20px;
      color: #F0F8EA;
      border-bottom: 1px solid #E4572E;
      justify-content: flex-end;
      background-color: #E4572E; }
      @media (max-width: 500px) {
        body .backOp .menuDeOp {
          padding: 5px;
          justify-content: center; } }
      body .backOp .menuDeOp .opcionesMenu {
        padding: 10px 25px;
        background-color: #e24418;
        margin: 0px 5px;
        display: flex;
        align-items: center; }
        body .backOp .menuDeOp .opcionesMenu span {
          font-size: 25px;
          margin-top: 5px;
          margin-left: 5px; }
        @media (max-width: 376px) {
          body .backOp .menuDeOp .opcionesMenu {
            padding: 10px; } }
      body .backOp .menuDeOp .ordenarPor {
        display: none; }
  body .popup {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); }
    body .popup .popup_distribution {
      position: relative;
      width: 600px;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding-bottom: 30px; }
      body .popup .popup_distribution div {
        display: flex;
        justify-content: space-between; }
        body .popup .popup_distribution div h3 {
          padding: 20px;
          padding-bottom: 5px;
          font-size: 35px;
          color: #E4572E; }
        body .popup .popup_distribution div .close-popup {
          margin-right: 10px;
          color: lightgrey;
          font-size: 30px; }
      body .popup .popup_distribution .error-vacio {
        position: absolute;
        top: 118px;
        left: 30px;
        color: lightgrey;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 1px 3px;
        display: none;
        margin: auto; }
        body .popup .popup_distribution .error-vacio .flecha-vacio {
          color: rgba(0, 0, 0, 0.5);
          position: absolute;
          font-size: 28px;
          top: -23px;
          left: 43%; }
      body .popup .popup_distribution .inputs {
        margin: 25px;
        padding: 5px;
        margin-top: 0;
        border: none;
        border-bottom: 1px solid #E4572E;
        resize: none;
        font-size: 22px; }
        body .popup .popup_distribution .inputs:focus {
          outline: none;
          background-color: whitesmoke; }
      body .popup .popup_distribution .btn_nuevatarea {
        width: 45%;
        margin: auto;
        background-color: #E4572E;
        color: #F0F8EA;
        border: none;
        font-size: 25px;
        padding: 1px 20px; }
      @media (max-width: 700px) {
        body .popup .popup_distribution {
          width: 300px; } }
  body .popupEdit {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); }
    body .popupEdit .popup_distribution {
      position: relative;
      width: 600px;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding-bottom: 30px; }
      body .popupEdit .popup_distribution div {
        display: flex;
        justify-content: space-between; }
        body .popupEdit .popup_distribution div h3 {
          padding: 20px;
          padding-bottom: 5px;
          font-size: 35px;
          color: #E4572E; }
        body .popupEdit .popup_distribution div .close-popup {
          margin-right: 10px;
          color: lightgrey;
          font-size: 30px; }
      body .popupEdit .popup_distribution .error-vacio {
        position: absolute;
        top: 118px;
        left: 30px;
        color: lightgrey;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 1px 3px;
        display: none;
        margin: auto; }
        body .popupEdit .popup_distribution .error-vacio .flecha-vacio {
          color: rgba(0, 0, 0, 0.5);
          position: absolute;
          font-size: 28px;
          top: -23px;
          left: 43%; }
      body .popupEdit .popup_distribution .inputs {
        margin: 25px;
        padding: 5px;
        margin-top: 0;
        border: none;
        border-bottom: 1px solid #E4572E;
        resize: none;
        font-size: 22px; }
        body .popupEdit .popup_distribution .inputs:focus {
          outline: none;
          background-color: whitesmoke; }
      body .popupEdit .popup_distribution .btn_nuevatarea {
        width: 50%;
        margin: auto;
        background-color: #E4572E;
        color: #F0F8EA;
        border: none;
        font-size: 25px;
        padding: 1px 20px; }
      @media (max-width: 700px) {
        body .popupEdit .popup_distribution {
          width: 300px; } }
  body .agregar_tarea {
    color: #E4572E;
    font-size: 60px;
    cursor: pointer; }
    @media (max-width: 700px) {
      body .agregar_tarea {
        position: fixed;
        bottom: 0;
        right: 20px;
        z-index: 5; } }
  body main section .nuevaTarea {
    position: relative;
    background-color: #F0F66E;
    padding: 15px 15px 12px 15px;
    margin: 5px 0px; }
    body main section .nuevaTarea div {
      display: flex;
      align-items: center;
      font-size: 35px; }
      body main section .nuevaTarea div div .completado {
        position: absolute;
        left: 18px;
        font-size: 27px;
        color: #F0F66E; }
      body main section .nuevaTarea div div .descompletado {
        position: absolute; }
      body main section .nuevaTarea div h4 {
        color: black;
        margin-left: 35px;
        overflow-wrap: break-word;
        max-width: 50%; }
    body main section .nuevaTarea p {
      margin-bottom: 0px;
      margin-left: 35px;
      overflow-wrap: break-word;
      max-width: 70%; }
    body main section .nuevaTarea .listaOp {
      position: absolute;
      right: 10px;
      top: 8px; }
      body main section .nuevaTarea .listaOp span {
        margin: 0 10px; }

/*# sourceMappingURL=estilos.css.map */
