@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$color1: #E4572E;//naranja
$color2: #F0F8EA;//blanco
$color3: lightgrey;
$colorBackTarea: #F0F66E;

body{
	position:relative;
	font-family:"Roboto", sans-serif;
	min-height:100vh;
	padding-bottom:50px;
	nav{
		color:$color2;
		background-color: $color1;
		.listaNav{
			display: flex;
			justify-content: space-between;
			align-items:center;
			h1{
				padding:10px 15px;
				span{
					margin-right: 10px;
				}
				@media(max-width:700px){
					padding:15px 0 0 0;
				}
			}
			span{
				margin-top: 10px;
				margin-right:10px;
				padding:5px;
				font-size: 40px;
				cursor: pointer;
				@media (max-width:700px){
					margin-right:0px;
				}
			}			
		}
	}

	.backOp{
		padding:0;
		position:relative;
		.menuDeOp{
			display: none;
			cursor: pointer;
			margin: 0;
			padding:10px 20px;
			z-index: 9;
			font-size: 20px;
			color:$color2;
			border-bottom:1px solid $color1;
			justify-content: flex-end;
			background-color:$color1;
			@media(max-width:500px){
					padding:5px;
					justify-content: center;
				}
			.opcionesMenu{
				padding:10px 25px;
				background-color: #e24418;
				margin: 0px 5px;
				display: flex;
				align-items:center;
				span{
					font-size: 25px;
					margin-top: 5px;
					margin-left: 5px;
				}
				@media(max-width:376px){
					padding:10px;
				}
			}
			.ordenarPor{
				display: none;
			}
		}		
	}

	.popup{
		z-index: 10;
		position:fixed;
		top:0;
		width: 100%;
		height: 100%;
		display: none;
		justify-content: center;
		align-items:center;
		background-color:rgba(0,0,0,0.4);
		.popup_distribution{
			position:relative;
			width: 600px;
			display: flex;
			flex-direction: column;
			background-color:white;
			padding-bottom:30px;
			div{
				display: flex;
				justify-content: space-between;
				h3{
					padding:20px;
					padding-bottom: 5px;
					font-size: 35px;
					color:$color1;
				}
				.close-popup{
					margin-right: 10px;
					color:$color3;
					font-size: 30px;
				}				
			}
			.error-vacio{
				position:absolute;
				top:118px;
				left:30px;
				color:$color3;
				background-color:rgba(0,0,0,0.5);
				border-radius:5px;
				padding: 1px 3px;
				display: none;
				margin: auto;
				.flecha-vacio{
					color:rgba(0,0,0,0.5);
					position:absolute;
					font-size: 28px;
					top:-23px;
					left: 43%;
				}
			}
			.inputs{
				margin:25px;
				padding:5px;
				margin-top: 0;
				border:none;
				border-bottom:1px solid $color1;
				resize: none;
				font-size: 22px;
				&:focus{
					outline: none;
					background-color: whitesmoke;
				}
			}
			.btn_nuevatarea{
				width: 45%;
				margin:auto;
				background-color:$color1;
				color:$color2;
				border:none;
				font-size: 25px;
				padding: 1px 20px;
			}
			@media (max-width:700px){
				width: 300px;
			}
		}
	}
	.popupEdit{
		z-index: 10;
		position:fixed;
		top:0;
		width: 100%;
		height: 100%;
		display: none;
		justify-content: center;
		align-items:center;
		background-color:rgba(0,0,0,0.4);
		.popup_distribution{
			position:relative;
			width: 600px;
			display: flex;
			flex-direction: column;
			background-color:white;
			padding-bottom:30px;
			div{
				display: flex;
				justify-content: space-between;
				h3{
					padding:20px;
					padding-bottom: 5px;
					font-size: 35px;
					color:$color1;
				}
				.close-popup{
					margin-right: 10px;
					color:$color3;
					font-size: 30px;
				}				
			}
			.error-vacio{
				position:absolute;
				top:118px;
				left:30px;
				color:$color3;
				background-color:rgba(0,0,0,0.5);
				border-radius:5px;
				padding: 1px 3px;
				display: none;
				margin: auto;
				.flecha-vacio{
					color:rgba(0,0,0,0.5);
					position:absolute;
					font-size: 28px;
					top:-23px;
					left: 43%;
				}
			}
			.inputs{
				margin:25px;
				padding:5px;
				margin-top: 0;
				border:none;
				border-bottom:1px solid $color1;
				resize: none;
				font-size: 22px;
				&:focus{
					outline: none;
					background-color: whitesmoke;
				}
			}
			.btn_nuevatarea{
				width: 50%;
				margin:auto;
				background-color:$color1;
				color:$color2;
				border:none;
				font-size: 25px;
				padding: 1px 20px;
			}
			@media (max-width:700px){
				width: 300px;
			}
		}
	}
	.agregar_tarea{
		color:$color1;
		font-size: 60px;
		cursor: pointer;
		@media(max-width:700px){
		position:fixed;
		bottom:0;
		right:20px;
		z-index: 5;
		}
	}

	main{
		section{
			.nuevaTarea{
				position:relative;
				background-color:$colorBackTarea;
				padding:15px 15px 12px 15px;
				margin: 5px 0px;
				div{
					display: flex;
					align-items:center;
					font-size: 35px;
					div{
						.completado{
							position:absolute;
							left:18px;
							font-size: 27px;
							color:$colorBackTarea;
						}
						.descompletado{
							position:absolute;
						}						
					}
					h4{
						color:black;
						margin-left:35px;
						overflow-wrap: break-word;
						max-width: 50%;
					}
				}
				p{
					margin-bottom: 0px;
					margin-left: 35px;
						overflow-wrap: break-word;
						max-width: 70%
				}
				.listaOp{
					position:absolute;
					right:10px;
					top:8px;
					span{
						margin:0 10px;
					}
				}
			}				
		}
	}
}